/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body,html,#wrapper,#app{height: 100%;width: 100%;position: relative;overflow: hidden;font-size: .2rem;}
#head{position: absolute;top: 0;left: 0;width: 100%;height: .7rem;display: flex;align-items: center;background: #1e81d2;color: white;font-weight: 600;}
#main{width: 100%;height: calc(100% - 1.65rem);margin-top: .7rem;overflow-x: hidden;overflow-y: scroll;}
#head span{display: flex;align-items: center;justify-content: center;width: 1.1rem;font-size: .2rem;}
#head div{flex: 1;display: flex;justify-content: center;align-items: center;font-size: .35rem;}
.fade-enter-active, .fade-leave-active {transform: translateX(0); transition: all .6s;}
.fade-enter, .fade-leave-to{transform: translateX(-100%);}
#head img{width: .25rem;}
#alert{position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,.5);display: flex;align-items: center;justify-content: center;}
#alert-main{background: #FFFFFF;border-radius: .1rem;width: 6rem;}
#alert-main h1{font-size: .3rem;font-weight: 600;margin: .3rem 0 .1rem;text-align: center;}
#alert-main p{height: .8rem;line-height: .4rem;text-align: center;}
#alert-main #alert-setting{display: flex;justify-content: center;align-items: center;height: .7rem;border-top: 1px solid #E3E3E3;color: #00c6c8;}
.child-view {width: 100%;height: 100%;transition: all .5s cubic-bezier(.55, 0, .1, 1);}
.alert-enter-active, .alert-leave-active {transition: all .6s;}
.alert-enter, .alert-leave-to{opacity: 0;}
#foot{position: absolute;bottom: 0;left: 0;width: 100%;height: .85rem;display: flex;align-items: center;border-top: 1px solid #828282;color: #828282;font-size: .2rem;background: white;z-index: 99;}
#foot .foot-nav{flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;}
#foot .foot-nav img{height:.3rem ;margin-bottom: 5px;}
.fthis{color: #1e81d2;}
.fthis .factive{display: block!important;}
.fthis .fdefault{display: none!important;}
#foot .fdefault{display: block;}
#foot .factive{display: none;}
.alert{background: rgba(0,0,0,.5);display: flex;align-items: center;justify-content: center;position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 5;}
.alert .alert-inner{background: white;border-radius: .1rem;width: 4rem;}
.alert .alert-text{height: 1.5rem;display: flex;align-items: center;justify-content: center;}
.alert .alert-setting{height: .6rem;display: flex;border-top: 1px solid #eeeeee;}
.alert .setting-group{flex: 1;display: flex;align-items: center;justify-content: center;}
.flexc{display: flex;align-items: center;justify-content: center;}
.alert-enter-active, .alert-leave-active {
			transform: translateZ(0);
			  transition: all .4s;
			}
			.alert-enter, .alert-leave-to /* .fade-leave-active below version 2.1.8 */ {
			  transform: translateZ(-100%);
			  opacity: 0;
			}
			.amap-logo,.amap-copyright{display: none!important;}
.start-enter-active, .start-leave-active {
				transform: translateX(0);
			  transition: all .3s;
			}
			.start-enter, .start-leave-to /* .fade-leave-active below version 2.1.8 */ {
			  transform: translateX(30px);
			  opacity: 0;
			}
			.nav-enter-active, .nav-leave-active {
				transform: translateY(0);
			  transition: all .3s;
			}
			.nav-enter, .nav-leave-to /* .fade-leave-active below version 2.1.8 */ {
			  transform: translateY(100%);
			  opacity: 0;
			}
			.workcamera{background-color: rgb(238,238,238);height: 100%;}
		.workcamera header{display: flex;justify-content: space-between;align-items: center;height:1rem;color: #FFFFFF;background:rgb(30,129,214);font-size: .3rem;}
		.workcamera .group img{height: .35rem;}
		.workcamera .text{width: 4.4rem;}
		.workcamera .box-group .group{background: #FFFFFF;margin-bottom: .2rem;height:.8rem;display: flex;align-items: center;box-shadow: 0 2px 2px 2px gainsboro;}
		.workcamera .riqi{display: flex;align-items: center;margin: 0 .2rem 0 .34rem;}
		.workcamera .width12{width:.17rem;height: .17rem;border-radius:50%; margin-right:.35rem;}
		.workcamera .group:nth-of-type(1) .circle{background: blue;}
		.workcamera .group:nth-of-type(2) .circle{background: yellow;}
		.workcamera .group:nth-of-type(3) .circle{background: red;}
		.workcamera .group:nth-of-type(4) .circle{background: pink;}
		.workcamera .group:nth-of-type(5) .circle{background: peru;}
		.workcamera .group:nth-of-type(6) .circle{background: green;}
		.workcamera .box-upload{background: #FFFFFF;}
		.workcamera footer{background: #FFFFFF; position: absolute;bottom: .85rem;width:100%;}
		.workcamera .upload{margin:0 .35rem;height: 2rem;display: flex;align-items: center;justify-content: space-between;}
		.workcamera .upload img{height: 1.1rem;margin-right: .34rem;}
		.workcamera .sck{width:3rem;height:.6rem;border: 1px solid #aaaaaa;display: flex;align-items: center;border-top-left-radius: .1rem;border-bottom-left-radius: .1rem;text-indent: .25rem;color: #AAAAAA;box-sizing: border-box;}
		.workcamera .sck::-webkit-input-placeholder{color: #AAAAAA;}
		.workcamera  .shangchuan{display: flex;align-items: center;width: 4rem;border: 0;margin: 0;}
		.workcamera .sctext{color:#FFFFFF;background:rgb(30,129,210);height: .6rem;width: 1rem;display: flex;justify-content:center;align-items: center;border-top-right-radius: .1rem;border-bottom-right-radius: .1rem;}
		.workcamera .footerbox-group{border-top: 1px solid rgb(221,221,221);width:100%;display: flex;justify-content: space-between;align-items:center;height: 1rem;}
		.workcamera .footergroup{display: flex; flex-direction: column;align-items:center;margin: 0 .35rem;color:rgb(137,137,137)}
		.workcamera .footergroup img{height: .4rem;margin-bottom:.1rem;}
		.hwzhenggai{background: #eeeeee;height: 100%;position: relative;}
		.hwzhenggai .group img{height: .35rem;}
		.hwzhenggai .box-group .group{background: #FFFFFF;margin-bottom: .2rem;height:.8rem;display: flex;align-items: center;box-shadow: 0 2px 2px 2px gainsboro;}
		.hwzhenggai .riqi{display: flex;align-items: center;margin: 0 .2rem 0 .34rem;}
		.hwzhenggai .text{width: 4.4rem;}
		.hwzhenggai .width12{width:.17rem;height: .17rem;border-radius:50%; margin-right:.35rem;}
		.hwzhenggai .group:nth-of-type(1) .circle{background: blue;}
		.hwzhenggai .group:nth-of-type(2) .circle{background: yellow;}
		.hwzhenggai .group:nth-of-type(3) .circle{background: red;}
		.hwzhenggai .group:nth-of-type(4) .circle{background: pink;}
		.hwzhenggai .group:nth-of-type(5) .circle{background: peru;}
		.hwzhenggai .group:nth-of-type(6) .circle{background: green;}
		.hwzhenggai .box-upload{background: #FFFFFF;}
		.hwzhenggai .myfoot{background: #FFFFFF; position: absolute;bottom:.85rem;width:100%;}
		.hwzhenggai .upload{height: 3rem;display: flex;align-items: center;justify-content: space-between;}
		.hwzhenggai .zhenggai{display: flex;flex-direction: column;}
		.hwzhenggai .sc {display: flex;justify-content: space-around;align-items: center;height: .7rem;}
		.hwzhenggai .scbut{width:1.2rem;height: .5rem;background: rgb(221,221,221);display: flex;align-items: center;justify-content: center;color: rgb(173,173,173);}
		.hwzhenggai .zhenggai span{height: .7rem;display: flex;align-items: center;justify-content: center;}
		.hwzhenggai .zhenggaia,.shangchuan{border:1px solid rgb(236,236,236);margin:.3rem;width:3rem;height: 2.65rem;}
		.hwzhenggai .zgz,.scz{height: 1.82rem;}
		.hwzhenggai .sanjiao{height: .12rem;margin-left: .1rem;}
		.hwzhenggai .footerbox-group{border-top: 1px solid rgb(221,221,221);width:100%;display: flex;justify-content: space-between;align-items:center;height: 1rem;}
		.hwzhenggai .footergroup{display: flex; flex-direction: column;align-items:center;margin: 0 .35rem;color:rgb(137,137,137)}
		.hwzhenggai .footergroup img{height: .4rem;margin-bottom:.1rem;}
		.tindex-top #img1{height: 100%;}
.workcamera .riqi span{width: 1.2rem;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.hwzhenggai .group img{margin-right: .2rem;}
